.site-header {
  @include no-font-smoothing();
  font-family: $font-family-sans-serif;
  height: $site-header-height; // must be set so that #home-feature can be positioned exactly underneath the header nav
  position: relative;
  text-align: center;
  z-index: 2;

  nav {
    position: relative;
  }
}

.site-title {
  display: none;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;

  @media (max-width: $screen-sm-max) {
    display: block;
    left: 0;
    margin-top: 20px;
    position: absolute;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 15px;
  }
}

#header-pulldown-toggle {
  background-color: transparent;
  // color: #000;
  display: none;
  float: right;
  font-weight: bold;
  line-height: 1;
  margin-top: 22px;
  padding-right: 32px; // .hamburger width + extra pad
  position: relative;
  text-transform: uppercase;

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  @media (max-width: $screen-xs-max) {
    height: 24px;
    margin-top: 17px;
    padding-right: 0;
    width: 24px;
  }

  &.active,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.hamburger {
  border-bottom: 6px double #000;
  border-top: 2px solid #000;
  bottom: 0;
  content: '';
  height: 10px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}

.hamburger-helper {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

#header-menu {
  margin-bottom: 0;
  margin-top: 20px;

  a {
    font-size: 17px;
    font-weight: bold;
  }

  @media (max-width: $screen-sm-max) {
    @include animation-fill-mode(forwards); // NOTE: deprecated mixin
    @include scale(1, 0);
    @include transform-origin(top);
    @include transition(all .3s cubic-bezier(.190, 1, .220, 1));
    clear: left;
    float: left;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    top: $site-header-height - 15px;
    width: 100%;

    &.active {
      @include scale(1, 1);
      background-color: #fff;
      border: 1px solid $gray-lighter;
      box-shadow: 0 10px 12px rgba(0, 0, 0, .08);
      max-height: 1000px; // This is a "hack"; we assume the menu will never exceed 1000px high (lets us trigger height-altering animations).
      overflow: visible;
    }

    li,
    a {
      display: block;
    }

    a {
      color: #000;
      font-size: 16px;
      padding: 5px 0;

      &:hover,
      &:active,
      &:focus {
        background-color: $gray-lighter;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    a {
      font-size: 14px;
    }
  }
}
