body {
  @include font-smoothing();
}

.lead {
  @include no-font-smoothing();
  font-family: $font-family-sans-serif;
}


h1,
.h1 {
  @include no-font-smoothing();
  font-size: 48px;
  font-weight: 300;

  @media (max-width: $screen-xs-max) {
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 30px;
  text-transform: uppercase;

  @media (max-width: $screen-xs-max) {
    font-size: 26px;
  }
}

h3,
.h3 {
  font-size: 25px;

  @media (max-width: $screen-xs-max) {
    font-size: 22px;
  }
}
