// Custom variables:

$site-header-height: 65px; // height of .site-header, NOT UCF header (blackbar)


// Bootstrap overrides:

$icon-font-path: '../fonts/bootstrap/';
$font-family-sans-serif: 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif !default; // NOTE: not ie8 ready--may not display optimally
